<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Set" value="N"/>
    <add key="Server" value="."/>
    <add key="UserID" value="sa"/>
    <add key="Password" value="rc99"/>
    <add key="Database" value="PAS_TJRMYY_17.1.11"/>
    
    <add key="HISType" value="Oracle"/>
    <add key="ConnString_HIS" value="User ID=tjhis;Password=neusoft;Data Source=NEUHIS"/>

    <add key="YFNo" value="JZ"/>
    <add key="MacCode" value="G1"/>
    <add key="Mode" value="2"/>
  </appSettings>
</configuration>
